// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
@import "../abstracts/variables";
// src/App.scss

header {
  width: 100%;
  height: 80px;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #e8a961;
  padding: 0 2rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  ul {
    display: flex;
    gap: 20px;
    list-style: none;

    li {
      font-size: 1.2rem;

      a {
        color: inherit;
        text-decoration: none;
        text-transform: uppercase;
      }
    }

    li.active a {
      font-weight: bold;
    }
  }
}
