#me {
    padding: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6rem;
    background-color: #fefefe;

    .image {
        width: 450px;
        // width: auto;
        height: auto;

        img {
            width: 100%;
            height: auto;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }
    }

    .text {
        max-width: 600px;

        h1 {
            font-size: 2rem;
            margin: 0;
        }

        p {
            font-size: 1rem;
            color: #555;
        }
    }
}